In [1]:
####!/usr/bin/python
##### coding: utf-8

###  <p style="text-align: center;">Calculate the most similar neighborhoods of Madrid with respect to one district introduced by a client</p>

In [2]:
#Import required libraries

import numpy as np
import pandas as pd
import psycopg2, psycopg2.extras
import psycopg2.extensions
import sys
psycopg2.extensions.register_type(psycopg2.extensions.UNICODE) 
psycopg2.extensions.register_type(psycopg2.extensions.UNICODEARRAY)

In [5]:
#Get input data
ccaai = raw_input("introduzca la ccaa")
#idcpro = raw_input("introduzca la provincia")
codmun = raw_input("introduzca el municipio")
iddist = raw_input("introduzca el distrito")

#Connect to database
conn = psycopg2.connect(database='cityData', host='localhost',user = 'postgres', password="DS17")
cur = conn.cursor() 

#Prepare SQL string
def check_sql_string(sql, a):
    sql = sql.replace("?",a)
    return sql
a=(' and seccdetail.idccaa='+ ccaai +' and seccdetail.codmun = '+ codmun +' and seccdetail.iddist = '+ iddist +';')
q = """SELECT * FROM seccdetail,seccresults where  seccdetail.idsecc = seccresults.idsecc ?""" #+rw 

#test SQL
#print check_sql_string(q,a)

#Get results

cur.execute(check_sql_string(q,a))
ver = cur.fetchall()
df = pd.DataFrame(ver)
#.set_index([0])
#indexed_df_secc = indexed_df_secc.iloc[:,:145]
df

#Sort results

df1 = pd.DataFrame(df.groupby([8]).size().reset_index().rename(columns={0:'count'}))
df1.columns = ['secc', 'count']
df1 = df1.set_index('secc')
df1 = df1.sort_values(df1.columns[0],ascending=False)
df1.head(3)

r1 = str(df1.index[0])
r2 = str(df1.index[1])
r3 = str(df1.index[2])

#Prepare SQL string
#First Result

def check_sql_string(sql, a):
    sql = sql.replace("?",a)
    return sql
a=('seccdetail.idsecc ='+ r1 +' and barrio.idbarrio =seccdetail.idbarrio ;')
#a=codccaa.to_records().tolist()
#rw= '?'+';'
q = """SELECT seccdetail.idsecc,barrioname  FROM seccdetail,barrio where ?""" #+rw 

#test SQL
#print check_sql_string(q,a)
cur.execute(check_sql_string(q,a))
ver = cur.fetchall()
df = pd.DataFrame(ver)

#Second Result

b=('seccdetail.idsecc ='+ r2 +' and barrio.idbarrio =seccdetail.idbarrio ;')
#print check_sql_string(q,b)
cur.execute(check_sql_string(q,b))
ver2 = cur.fetchall()
df = df.append(ver2)

#Third Result

c=('seccdetail.idsecc ='+ r3 +' and barrio.idbarrio =seccdetail.idbarrio ;')
#print check_sql_string(q,c)
cur.execute(check_sql_string(q,c))
ver3 = cur.fetchall()

df = df.append(ver3)

#See results
df

introduzca la ccaa10
introduzca el municipio2
introduzca el distrito1

              0           1
0  132807904102       Lista
0  132807911070  San Isidro
0  132807913160    Portazgo